<!DOCTYPE html>
<html lang="en">
<header>
    <a href="{% url "post:list_posts" %}">Posts</a>
    <a href="{% url "categories:list_categories" %}">Categories</a>
    {% if request.user.id != None %}
        <a href="{% url "core:profile_page" request.user.id %}">{{ request.user }}</a>
        <a href="{% url "core:logout" %}">Logout</a>
    {% else %}
        <a href="{% url "core:login_page" %}">Login</a>
    {% endif %}
</header>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h4></h4>
    {% block content %}{% endblock %}
</body>

<footer><strong>COPYRIGHT@misha's website</strong></footer>
</html>